.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid greenyellow;
}

.slider-container {
  flex-basis: 100%;
  width: 100%;
  height: 500px;
  max-height: 80vw;
  overflow: hidden;
  border: 2px solid rebeccapurple;
  margin-bottom: 20px;
}

.descriptions {

}

.navigation {
  display: flex;
  width: 200px;
  height: 50px;
  border: 2px solid greenyellow;
}

.bar {
  width: 10px;
  height: 10px;
  padding: 10px;
  margin: 5px;
  background-color: blue;
}

input[name="radio"] {
  position: absolute;
  visibility: hidden;
}

.slider {
  width: 400%;
  height: 100%;
  display: flex;

}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  overflow: hidden;
  transition: all 1s;
}

.mem-img {
  height: 100%;
}

#radio1:checked ~ .slider-container .slider-head {
  margin-left: 0;
}
#radio2:checked ~ .slider-container .slider-head {
  margin-left: -25%;
}
#radio3:checked ~ .slider-container .slider-head {
  margin-left: -50%;
}
#radio4:checked ~ .slider-container .slider-head {
  margin-left: -75%;
}

.descriptions {
  width: 100px;
  height: 50px;
  border: 2px solid greenyellow;
  overflow: hidden;
}

.descriptions-slider {
  width: 400%;
  height: 100%;
  display: flex;
}

.about {
  display: flex;
  justify-content: center;
  width: 25%;
  transition: all .6s;
}

#radio1:checked ~ .descriptions .descriptions-head {
  margin-left: 0;
}
#radio2:checked ~ .descriptions .descriptions-head {
  margin-left: -25%;
}
#radio3:checked ~ .descriptions .descriptions-head{
  margin-left: -50%;
}
#radio4:checked ~ .descriptions .descriptions-head {
  margin-left: -75%;
}
